#chart {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7; // Set a light background color
  }
  
  apx-chart {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    border-radius: 10px; // Add rounded corners for a nicer appearance
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Add a subtle box shadow for depth
    background-color: #fff; // Set a white background color for the chart area
  }
  
  // Customizing chart colors
  apx-chart .apexcharts-canvas {
    background-color: #fff; // Set a white background color for the chart area
  }
  
  apx-chart .apexcharts-data-label, apx-chart .apexcharts-datalabels {
    color: #555; // Set color for data labels
  }
  
  apx-chart .apexcharts-legend-text {
    color: #333; // Set color for legend text
  }
  
  apx-chart .apexcharts-xaxis-labels text, apx-chart .apexcharts-yaxis-labels text {
    fill: #666; // Set color for axis labels
  }
  
  apx-chart .apexcharts-title-text {
    fill: #444; // Set color for chart title
  }
  
  apx-chart .apexcharts-tooltip {
    background: rgba(255, 255, 255, 0.9); // Set background color for tooltip
    border: 1px solid #ccc; // Add border for tooltip
    color: #333; // Set text color for tooltip
  }
  