$color_1: white;
$background-color_1: rgb(12,90,168);

mat-card {
	margin: 2%;
	font-family: "Poppins", sans-serif;
}
button {
	margin: 2px;
}
th {
	background-color: $background-color_1 !important;
	color: $color_1;
}
