.parent{
    display: flex;
    gap:3%;
  
  
}
.con{
    position: relative;
    margin:40px;
    font-family: "Poppins", sans-serif;
}
button{
    margin-top: 10px;
}
.spin{
    margin-left:500px;
    margin-top: 100px;
}
.icon{
    margin-left: -30px;
    margin-top: -10px;
    }
    mat-form-field{
        height:77px;
    }
.iconn{
        font-size: 20px;
        margin-top: 8px;
    }
    .date{
        display: flex;
        gap:9%;
        
      }
      
      
      
      