.parent{
    display: flex;
    gap:3%;
  
  
}
.con{
    position: relative;
    margin:40px;
    font-family: "Poppins", sans-serif;
}
button{
    margin-top: 10px;
}
.spin{
    margin-left:500px;
    margin-top: 100px;
}
.icon{
    margin-left: -30px;
    margin-top: -10px;
    }
    mat-form-field{
        height:77px;
    }
.iconn{
        font-size: 20px;
        margin-top: 2px;
    }
    .date{
        display: flex;
        gap:9%;
        
      }
      
      .mat-mdc-raised-button.mat-warn{
        --mdc-protected-button-container-color:grey !important;
        --mdc-protected-button-label-text-color:white !important;
        width:85px;
      }    
      
      