.icon-container {
    position: relative;
    top: 100px;
  }
  
  .icon-list {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    opacity: 0.5;
    position: absolute;
    top: calc(-100% - 20px); /* Adjust position above the message icon */
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
    padding: 13px;
    transition: top 0.3s ease-in-out;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1; /* Ensure icons are displayed above other elements */
  }
  
  .clear-icon {
    position: absolute;
    top: calc(100% + 10px); /* Position below the message icon button */
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: white;
    top:15px;
    background-color: rgb(46, 160, 202);
    z-index: 2; /* Ensure clear icon is displayed above the icon list */
  }
  
  
  
  .ic {
    margin-top: 5px;
  }
  
  .icon-container.show-icons .icon-list {
    top: 50px; /* Move the icon list into view */
  }
  
  .message-icon,
  .clear-icon {
    position: absolute;
  }
  
  .message-icon {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: rgb(46, 160, 202);
  }



  /* Define the CSS class for the blue background */
.message-icon-bgg {
    background-color: rgb(46, 160, 202); 
  }


  .icon-container.show-icons .icon-list {
    opacity: 1;
  }
  