
 
   
 
 
 
 
 
<app-back></app-back>
<div id="container">
  <!-- Display loading spinner if isLoading is true -->
  <div *ngIf="isLoading" class="loading-spinner-container">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
 
<div *ngIf="!isLoading">
 
<div id ="container">
    <div class="treemap">
        <mat-card class="treemap-card">
        <apx-chart [series]="distributedTreemapOptions.series" [chart]="distributedTreemapOptions.chart"
            [title]="distributedTreemapOptions.title" [colors]="distributedTreemapOptions.colors"></apx-chart></mat-card>
    </div>
<div id="donutchart1">
    <mat-card class="ch1">
 
        <apx-chart [series]="donutChart1Options.series" [chart]="donutChart1Options.chart"
            [labels]="donutChart1Options.labels" [colors]="donutChart1Options.colors"
            [title]="donutChart1Options.title" [legend]="donutChart1Options.legend">
        </apx-chart>
    </mat-card>
</div>
 
<div id="donutchart2">
    <mat-card class="ch2">
 
        <apx-chart [series]="donutChart2Options.series" [chart]="donutChart2Options.chart"
            [labels]="donutChart2Options.labels" [colors]="donutChart2Options.colors"
            [title]="donutChart2Options.title" [legend]="donutChart2Options.legend">
        </apx-chart>
    </mat-card>
   
 
   
</div>
<div id="funnelchart">
    <mat-card class="funnel">
        <apx-chart [series]="funnelChartOptions.series" [chart]="funnelChartOptions.chart" [title]="funnelChartOptions.title"></apx-chart>
</mat-card>
   
</div>
 
 </div>
<div id="heatmap-chart">
    <apx-chart
      [series]="heatmapChartOptions.series"
      [chart]="heatmapChartOptions.chart"
      [xaxis]="heatmapChartOptions.xaxis"
      [dataLabels]="heatmapChartOptions.dataLabels"
      [colors]="heatmapChartOptions.colors"
      [title]="heatmapChartOptions.title"
      [plotOptions]="heatmapChartOptions.plotOptions">
     
    </apx-chart>
  </div>
</div>
  </div>
