
<mat-sidenav-container class="custom-sidenav-container">
  <mat-sidenav #sidenav [opened]="true" mode="side" class="custom-sidenav">
  
    <mat-nav-list class="custom-nav-list">
      <a mat-list-item routerLink="/home" class="custom-nav-item">
        <mat-icon class="custom-icon">home</mat-icon>
        <span mat-line class="custom-span custom-span-bold">Home</span>
      </a>
      <div class="data-share">
        <a mat-list-item class="custom-nav-item" (click)="toggleDataShareDropdown()">
          <mat-icon class="custom-icon">keyboard_arrow_down</mat-icon>
          <span mat-line class="custom-span custom-span-bold">Data Share</span>
        </a>
        <div *ngIf="dataShareDropdownOpen" class="custom-dropdown">
          <a mat-list-item *ngFor="let projectName of dataShareProjects[0].name" class="custom-nav-item" (click)="toggleAlternateData()" routerLink="/fabric/share">
            <mat-icon class="custom-icon">keyboard_arrow_down</mat-icon>
            <span mat-line class="custom-span custom-span-bold">{{ projectName }}</span>
          </a>
        </div>
      </div>
    </mat-nav-list>
    <div *ngIf="showAlternateData" class="custom-dropdown">
      <div class="mydb">
        <ul>
          <li *ngFor="let db of dbname">{{ db.dbname }}</li>
        </ul>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>