<div class="slicename">
 
 <a routerLink="/intelligence/tile"><button mat-raised-button color="primary"><mat-icon>dashboard</mat-icon>Back to Dashboard</button></a> 
</div>
<div class="con">
  <h1>{{selectedslicename}}</h1>
  <div class="parent">
    <div id="select">
      <form class="example-form">
        <!-- <mat-form-field class="example-full-width" style="width: 200px" appearance="outline">
          <mat-label>Selected Product</mat-label>
          <input matInput [value]="selectedslicename" />
        </mat-form-field> -->
        <mat-form-field class="example-full-width" appearance="outline"  style="width: 200px">
          <mat-label>Product</mat-label>
          <mat-select [(value)]="selectedslicename">
            <mat-option *ngFor="let option of productOptions" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
        
      </form>
    </div>

    <div class="autocomplete">
      <form class="example-form">
        <mat-form-field class="example-full-width" style="width: 200px"  appearance="outline">
          <mat-label>Select Event</mat-label>
          <input matInput [matAutocomplete]="auto" [formControl]="formcontrol"  [(ngModel)]="selectedOption" />
          <mat-icon class="icon">arrow_drop_down</mat-icon>
          <mat-autocomplete autoActiveFirstOption #auto (optionSelected)="optionSelected($event.option.value)">
            <mat-option *ngFor="let item of filteroptions | async" [value]="item">
              {{ item }}
            </mat-option>
          </mat-autocomplete>
          <!-- <button *ngIf="selectedOption" matSuffix mat-icon-button (click)="clearFilter()">
            <mat-icon class="iconn">clear</mat-icon>
          </button> -->
        </mat-form-field>
      </form>
    </div>

    <div class="date">
      <mat-form-field class="example-form-field" style="width: 200px" appearance="outline">
        <mat-label>From</mat-label>
        <input
          matInput
          [matDatepicker]="fromDatePicker"
          placeholder="From date"
          name="fromDate"
          [max]="maxDate"
          [value]="yesterdayDate.toISOString().split('T')[0]"
          (dateChange)="addEvent('change', $event)"
          class="input"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="fromDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #fromDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-form-field" style="width: 200px" appearance="outline">
        <mat-label>To</mat-label>
        <input
          matInput
          [matDatepicker]="toDatePicker"
          placeholder="To date"
          name="toDate"
          [min]="minDate"
          [value]="date.value"
          [max]="maxDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="toDatePicker"
          class="date"
        ></mat-datepicker-toggle>
        <mat-datepicker #toDatePicker></mat-datepicker>
      </mat-form-field>
    </div>


    <div class="btn-group">
      <button mat-raised-button color="primary" (click)="onSubmit()" style="width:108px" ><mat-icon class="btn-icon">filter_alt</mat-icon>Apply</button>
      <button mat-raised-button  color="warn" (click)="clearAll()" style="width:108px"  ><mat-icon class="btn-icon" >clear</mat-icon>Clear </button>
      <mat-menu #exportMenu="matMenu" class="menu">
        <button mat-menu-item class="item" > Pdf</button>
        <button mat-menu-item  class="item" >Excel</button>
      </mat-menu>
      
      <button mat-raised-button color="primary" [matMenuTriggerFor]="exportMenu" style="width:108px"  class="export-button">
        <span class="part">Export</span> <mat-icon class="export">arrow_drop_down</mat-icon>
      </button>
      
    </div>
  </div>
  <div class="full">
    <div class="card-container">
      <mat-card class="example-card1">
        <p class="user">Active Users</p>
       
        <mat-card-content class="c1">
          <img src="/assets/cardimg/Group 399.png" height="" width="60px">
          <span class="number">586</span>
         
        </mat-card-content>
      </mat-card>
     
      <mat-card class="example-card2">
        <p class="Fup">Product Utilization %</p>
        <mat-card-content class="c3">
          <img src="/assets/cardimg/Group 422.png"  width="40px">
          <span class="number1">58.60%</span>
       
        </mat-card-content>
      </mat-card>
     
      <!-- <mat-card class="example-card3">
        <p class="Alt">App Loading time</p>
        <mat-card-content class="c5">
          <img src="/assets/cardimg/Vector.png" height="45px" width="45px">
          <span class="number2">100 ms</span>
        
        </mat-card-content>
      </mat-card> -->
    </div>
  </div>

  <div *ngIf="!submitted">
    <app-line-chart [options]="submitOption" (chartEvent)="handleChartEvent($event)" ></app-line-chart>
    <app-table *ngIf="displaytableboolean"></app-table>
  </div>
  <div *ngIf="showSpinner" class="spin">
    <mat-spinner diameter="80"></mat-spinner>
  </div>
</div>