.parent{
    display: flex;
    gap:1%;
  
  
}
.slicename{
    margin-left: 45px;
    margin-top: 20px;
    color:#014881;
display: flex;
  justify-content: space-between;  
  padding-right: 50px;
    
}
.slicename h1{
    position: relative;
    top:18px;
   font-weight: bold;
}
.con{
    position: relative;
    margin:20px;
    font-family: "Poppins", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
}
button{
    margin-top: 10px;
}
.spin{
    margin-left:600px;
    margin-top: 100px;
}
.icon{
    margin-left: -30px;

   
    }
    mat-form-field{
        height:70px;
    }
.iconn{
        font-size: 20px;
        margin-top: -10px;
        
    }
    .date{
        display: flex;
        gap:3%;
        
      }
      
      .card-container{
        display: flex;
    margin-left: 15px;
        margin-top: 20px;
      }
     
       .user{
        background-color: #EAEAD9;
        font-weight: 550;
        padding: 5px;
       
       }
       
         .Fup{
      background-color: #EFF4F5;
      font-weight: 550;
      padding: 5px;
         }
         
         .Alt{
          background-color: #D1EFF5;
          font-weight: 550;
          padding: 5px;
         }
     
          .example-card1 {
            width:250px;
            height: 100px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            margin-bottom: 20px;
            margin-left: 100px;
         
           background-color: #CECC80
          }
         
          .example-card2 {
            width:250px;
            height: 100px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            margin-bottom: 20px;
         margin-left: 100px;
            background-color: #90B3BD
          }
         
          .example-card3 {
            width:250px;
            height: 100px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            margin-bottom: 20px;
         margin-left: 100px;
           background-color:#47C2DA
          }
         
           
         
         
         
         
            .number {
                margin-left: 50px;
                font-weight: 550;
                font-size: 20px;
                color: white;
                position: absolute;
                top: 50px;
           
              }
              .number1 {
                margin-left: 50px;
                font-weight: 550;
                font-size: 20px;
                color: white;
             
              position: absolute;
              top: 50px;
         
           
              }
              .number2 {
                margin-left: 50px;
                font-weight: 550;
                font-size: 20px;
                color: white;
             
              position: absolute;
              top: 50px;
         
           
              }
      
      .mat-mdc-raised-button.mat-warn{
        --mdc-protected-button-container-color:grey !important;
        --mdc-protected-button-label-text-color:white !important;
        width:95px;
      }  
      .btn-group{
        display: flex;
     gap:3%;
     margin-left: 20px;
     
      }  
      
      