
<div id="content">
  <div class="logo">
    <img src="/assets/logos/logo.png" height="100px" />
  </div>
  <div class="login">
    <div class="heading">
      <p class="intuser">{{loginHeading}}</p>
    </div>
    <br>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="frm">
      <mat-form-field appearance="fill" style="width: 340px;height: 68px;">
        <mat-label><mat-icon class="icn">person</mat-icon> Username</mat-label>
        <input matInput formControlName="username" placeholder="Enter your username">
        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">Username is required</mat-error>
        <mat-error *ngIf="loginForm.get('username')?.hasError('minlength')">Username must be at least 3 characters</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" style="width: 340px;height: 68px;">
        <mat-label><mat-icon style="color:linear-gradient(to top right, #0a4a7a 45%, #f49f15 90%);">lock</mat-icon>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Enter your password">
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 6 characters</mat-error>
      </mat-form-field>
      <br>
      <a><button mat-raised-button color="primary" type="submit" class="btn">LOGIN</button></a><br>
      <a><small style="color:#02477e;">Forgot your password?</small></a>
      <div class="reg-link" *ngIf="link">
        <a [routerLink]="['/register']" style="color:#02477e;"><small>New User? <u>Register here</u></small></a>
      </div>
    </form>
  </div>
</div>
