.full{
  font-family: "Poppins", sans-serif;
  display: flex;
}

    
    .example-card {
      width:200px;
      height: 100px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      margin-bottom: 20px;
    
     
    }
    
     
    h1 {
      text-align: center;
      font-weight: bold;
      font-size: 15px;
      padding: 5px;
      font-family: "Poppins", sans-serif;
    }
    
    mat-card-content p {
      text-align: center;
      font-size: 15px;
     
    
    }

