.full{
  font-family: "Poppins", sans-serif;
  display: flex;
}
.card-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;

}
.parent{
  display: flex;
}

    
    .example-card {
      width:200px;
      height: 100px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      margin-bottom: 20px;
    
     
    }
    
     
    h1 {
      text-align: center;
      font-weight: bold;
      font-size: 15px;
      padding: 5px;
      font-family: "Poppins", sans-serif;
    }
    
    mat-card-content p {
      text-align: center;
      font-size: 15px;
     
    
    }

     
    .mat-mdc-raised-button.mat-warn{
      --mdc-protected-button-container-color:grey !important;
      --mdc-protected-button-label-text-color:white !important;
      width:85px;
    }    
    