<div class="container">
    <!-- First half: Four small cards -->
    <div class="row1">
      <div class="col1">
        <mat-card class="card">
          <mat-card-title>Small Card 1</mat-card-title>
          <mat-card-content>
            Content of Small Card 1 goes here.
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col2">
        <mat-card class="card">
          <mat-card-title>Small Card 2</mat-card-title>
          <mat-card-content>
            Content of Small Card 2 goes here.
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col3">
        <mat-card class="card">
          <mat-card-title>Small Card 3</mat-card-title>
          <mat-card-content>
            Content of Small Card 3 goes here.
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col4">
        <mat-card class="card">
          <mat-card-title>Small Card 4</mat-card-title>
          <mat-card-content>
            Content of Small Card 4 goes here.
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!-- Second half: Two big cards -->
    <div class="row2">
      <div class="bar">
        <mat-card class="big-card1">
          <mat-card-title>//</mat-card-title>
          <mat-card-content>
            <apx-chart
           
    [series]="barChartOptions.series"
    [chart]="barChartOptions.chart"
    [dataLabels]="barChartOptions.dataLabels"
    [plotOptions]="barChartOptions.plotOptions"
    [yaxis]="barChartOptions.yaxis"
    [xaxis]="barChartOptions.xaxis"
    [fill]="barChartOptions.fill"
    [title]="barChartOptions.title"
  ></apx-chart>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="line">
        <mat-card class="big-card2">
          <mat-card-title>//</mat-card-title>
          <mat-card-content>
            <apx-chart
   
    [series]="lineChartOptions.series"
    [chart]="lineChartOptions.chart"
    [xaxis]="lineChartOptions.xaxis"
    [yaxis]="lineChartOptions.yaxis"
    [dataLabels]="lineChartOptions.dataLabels"
    [title]="lineChartOptions.title"
    [fill]="lineChartOptions.fill"
  ></apx-chart>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>