.container {
 
    margin: 20px auto;
    padding: 0 20px;
  }
 
  .col1,.col2,.col3,.col4{
    padding-top: 2cm;
  }
  .row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
  }
 
  .half {
    width: calc(50% - 10px);
  }
 
  .full {
    width: 100%;
  }
 
  .card,
  .big-card {
    margin-bottom: 20px;
  }
 
  .card{
    background: rgb(253,187,45);
background: linear-gradient(0deg, rgba(253,187,45,1) 10%, rgba(71,155,205,1) 90%);
    // background-color: #e3dfdf;
    height: 160px;
    width:210px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .big-card1
  {border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 380px;
    width: 400px;}
 
   .big-card2 {
   
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 380px;
    width: 500px;
   
  }
 
  .mat-card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
 
  .mat-card-content {
    font-size: 1rem;
  }
 
